body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    text-align: center;
}
input, select, button {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
}
h1 {
    font-size: 20px;
    margin-bottom: 15px;
}
h2 {
    margin-top: 15px;
    color: #333;
}
